<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css" type="text/css" />
  <title>Ken區 代禱事項！</title>
</head>
<body>
    <div id="particles-js" class="hero section">
			<div class="bg">
				<div class="slide slideOne"></div>
				<div class="slide slideTwo"></div>
				<div class="slide slideThree"></div>
			</div>
		
      <div class="content">
        <h2 class="frame">
        </h2>
        <h2 class="one">代禱事項<h2>
          <p style="color:aqua;font-size:28px;">有什麼我們可以為你祈禱的？</p>   
      </div>
    </div>

    <div class="wish section">
      <h2>代禱事項!</h2>
      <div id="wish-area">
        <% wishes.forEach(function(wish) { %>
          <div id="wish-box"><%- wish.wish %> <i>by: <%= wish.name %></i></div>
        <% }); %>
      </div>

      
      <div id="send-wishes">
        <h4>關於你需要我們代禱的</h4>
        <div id="send-wish">
          <input id="ur-name" name="name" placeholder="你的名字是什麼啊？" />
          <textarea id="ur-wish" name="wish" placeholder="你需要代禱的事情是什麼？" rows="5"></textarea>
        </div>
          <button class="submit" onclick="sendWish()">傳送Send</button>
      </div>

    </div>   

    <div id="anime" class="section">
      </div>
      <% anime.forEach(function(anime) { %>
        <div class="anime-box">
          <img class="anime-img" src="<%= anime.imageUrl %>" alt="<%= anime.title %>" />
          <div class="anime-wrap">
            <div class="anime-title"><%= anime.title %></div>
            <div class="anime-type"><%= anime.type %> - <%= anime.episodes %> episode(s)</div>
            <div class="anime-summary"><%= anime.synopsis %></div>
          </div>
        </div>
      <% }); %>
    </div>

  <script>
    const sendWish = () => {
      let name = document.getElementById('ur-name').value;
      let wish = document.getElementById('ur-wish').value;
      fetch('/wish', {
        method: 'POST',
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ name, wish })
      }).then(r => r.text()).then(message => {
        if (message === 'BAD REQUEST SMH')
          alert('你需要填寫你的名字和你的代禱事項才能提交！');
        else
          alert("你的代禱告事項已被批准!");
        window.location.reload();
      });
    }
  </script>
  <script src='https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js'></script>
  <script src='https://threejs.org/examples/js/libs/stats.min.js'></script>
  <script src="/particles.js"></script>
  
</body>
</html>